 <!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	
	<title>Calculator with AngularJS</title>
</head>
<body ng-app="myApp">
	<div class="main" ng-controller="MainController">
		<h1>{{title}}</h1>
		
		<div class="view"><p>{{screen}}</p></div>
		
		
		<div class="left">
			<div class="nums" ng-show="decimal">
				<div ng-repeat="number in numbers" class="btn_value">
					<button ng-click="change(number.id)">{{number.value}}</button>
				</div>
			</div>
			<div class="nums" ng-show="hexagonal">
				<div ng-repeat="number in hex" class="btn_value">
					<button ng-click="change_hex(number.id)">{{number.value}}</button>
				</div>
			</div>
			<div class="nums" ng-show="binary">
				<div ng-repeat="number in bin" class="btn_value">
					<button ng-click="change_bin(number.id)">{{number.value}}</button>
				</div>
			</div>
		</div>
		
		<div class="middle">
			<div class="chars">
				<div ng-repeat="char in chars" class="char_value">
					<button ng-click="change_char(char.id)">{{char.value}}</button>
				</div>
			</div>
			<div class="operators">
				<div ng-repeat="operator in operations" class="oper_value">
					<button ng-click="operation(operator.id)">{{operator.value}}</button>
				</div>
			</div>
		</div>
		
		<div class="right">
			<div class="saves">
				<div ng-repeat="save in saved" class="saved_value">
					<button ng-click="save_use(save.id)">{{save.value}}</button>
				</div>
			</div>
		</div>
		
		<div class="choice">
			<input class="sys" type="button" ng-click="isShowHide('decimal')" value="Decimal"> 
			<input class="sys" type="button" ng-click="isShowHide('hexagonal')" value="Hexagonal">
			<input class="sys" type="button" ng-click="isShowHide('binary')" value="Binary">
		</div>



</body>


<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>